a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

.header_section {
    display: flex;
    align-items: center;
}

.name {
    font-size: 30px;
}

.item {
    margin-right: 100px;
}

.item a.active {
    color: #eace3d;
    border-bottom: 1px solid white;
}


