.intro {
    margin-top: 5px;
}

.introduction {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #eace3d;
    border: 1px solid green;
}

.text {
    padding-top: 50px;
    padding-right: 100px;
}

.title {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.paragraph {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.paragraph .more {
    font-size: 25px;
    text-transform: uppercase;
}

.photo {
    margin: 45px;
    width: 530px;
    height: 330px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 20px;
    background-color: rgb(112, 160, 57);
}

.content {
    margin-top: 5px;
    background-color: #eace3d;
    border: 1px solid green;
}

.mostFamousPark {
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 600;
    margin-top: 40px;
    border-bottom: 1px solid green;
}

.card {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.button {
    text-align: center;
}