.footer{
    margin-top: 5px;
    width: 100%;
    height: auto;
    background-color: green;
    text-align: center;
}
.name{
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
}
.soc{
    height: 35px;
    weight: 35px;
}
.social a{
    margin: 30px;
    border:white;
}
.soc:hover{
   border-bottom: 1px solid white;
}
.Copyright{
    margin-top: 10px;
    color: white;
}